{% extends "layout.html" %}
{% load bootstrap3 %}
{% block content %}
{% if is_student %}
<div class="row">
    <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Home</div>
                <div class="panel-body">
                    <p>Some simple description of this panel.</p>
                </div>
                <div class="list-group">
                    <a href="{% url 'projects_list_url' %}" class="list-group-item">Projects <span class="badge">50</span></a>
                    <a href="{% url 'teams_list_url' %}" class="list-group-item">Teams <span class="badge">50</span></a>
                </div>
            </div>
    </div>
    <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">Project</div>
                <div class="panel-body">
                    <p>Some simple description of this panel.</p>
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item">option one</a>
                    <a href="#" class="list-group-item">option two</a>
                </div>
            </div>
    </div>
    <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading"><b>Team</b></div>
                {% if has_user_team %}
                <div class="panel-body">
                    <p>You are assigned to: <a href="{% url 'teams_list_url' %}">{{ request.user.team.name }}</a></p>
                </div>
                <div class="list-group">
                    <a href="{% url 'team_leave_url' %}" class="list-group-item">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Leave your team</a>
                    <a href="{% url 'teams_list_url' %}" class="list-group-item">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> View all teams</a>
                </div>
                {% else %}
                <div class="panel-body">
                    <p>You have no team yet.</p>
                </div>
                <div class="list-group">
                    <a href="{% url 'team_create_url' %}" class="list-group-item">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Create your own team</a>
                    <a href="{% url 'teams_list_url' %}" class="list-group-item">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Join an existing team</a>
                </div>
                {% endif %}
            </div>
    </div>
</div>
{% endif %}
{% endblock %}