{% load static %}
{% load bootstrap3 %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    {% block extrahead %}
        <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    {% endblock %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" aria-expanded="false" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="{% url 'index_url' %}" class="navbar-brand">Project manager</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li class="active"><a href="{% url 'index_url' %}">Home</a></li>
                    <li class="dropdown">
                        <a href="{% url 'projects_list_url' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if not is_student  %}
                                <li><a href="{% url 'project_create_url' %}">Create</a></li>
                                <li role="separator" class="divider"></li>
                            {% endif %}
                            <li><a href="{% url 'projects_list_url' %}">List</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{% url 'teams_list_url' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teams<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if is_student  %}
                                <li><a href="{% url 'team_create_url' %}">Create</a></li>
                                <li role="separator" class="divider"></li>
                            {% endif %}
                            <li><a href="{% url 'teams_list_url' %}">List</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right" role="navigation">
                {% if not user.is_authenticated  %}
                    <li><a href="{% url 'account_login_url' %}">Login</a></li>
                    <li><a href="{% url 'account_create_url' %}">Create account</a></li>
                {% else %}
                    {% comment %}
                    <li><a href="{% url 'account' %}">My account</a></li>
                    {% endcomment %}
                    <li class="disabled"><a>Logged as {{ request.user }}</a></li>
                    <li><a href="{% url 'account_logout_url' %}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container" style="padding: 80px">
    {% bootstrap_messages %}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>



