{% extends "layout.html" %}
{% load bootstrap3 %}
{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-success">
            <div class="panel-heading"><b>Change password</b></div>
            <div class="panel-body">
                <form action="{% url 'account_change_password_url' %}" method="POST" class="form">
                    {% csrf_token %}
                    {% bootstrap_form account_change_password_form %}
                    {% buttons %}
                        {% bootstrap_button "Change" button_type="submit" button_class="btn btn-primary" %}
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}