{% extends "layout.html" %}
{% load bootstrap3 %}
{% block content %}
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Create account</div>
            </div>
            <div class="panel-body">
                <form action="/account/create/" method="POST" class="form">
                    {% csrf_token %}
                    {% bootstrap_form account_create_form %}
                    {% buttons %}
                        {% bootstrap_button "Create" button_type="submit" button_class="btn btn-primary" %}
                    {% endbuttons %}
                </form>
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('#id_account_type').on('change', function() {
                            if ( this.value == '1') {
                                $("#id_student_no").closest("div").show();
                            }
                            else {
                                $("#id_student_no").closest("div").hide();
                            }
                        });
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock %}