{% extends "layout.html" %}
{% load bootstrap3 %}
{% block content %}
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Create team</div>
            </div>
            <div class="panel-body">
                <form action="/teams/create/" method="POST" class="form">
                    {% csrf_token %}
                    {% bootstrap_form team_create_form %}
                    {% buttons %}
                        {% bootstrap_button "Create" button_type="submit" button_class="btn btn-primary" %}
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}